<strong>Olá, {{ provider }}</strong>

<p>Houve um cancelamento de horário, confira os detalhes abaixo:</p>
<p>
    <strong>Cliente:</strong> {{ user }} <br />
    <strong>Data/Hora:</strong> {{ date }} <br />
    <br />

    <small>
        O horário está novamente dispónivel para novos agendamentos
    </small>
</p>